@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jobs Board</h1>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
    @foreach (JobOpening job in Model)
    {
        <li>@job.Title</li>
        <li>@job.Description</li>
        <li>@job.ContactInfo.Name</li>
        <li>@job.ContactInfo.PhoneNumber</li>
        <li>@job.ContactInfo.EmailAddress</li>
    }

</div>
