@foreach (JobOpening job in Model)
    {
      <ul>
        <li>@job.Title</li>
        <li>@job.Description</li>
        <li>@job.ContactInfo.Name</li>
        <li>@job.ContactInfo.PhoneNumber</li>
        <li>@job.ContactInfo.EmailAddress</li>
        <p>-----------------------------------------</p>
      </ul>
    }

